@layer components {
  .btn {
    @apply relative inline-flex items-center justify-center gap-2 
    font-semibold cursor-pointer transition-colors overflow-hidden 
    hover:before:opacity-[0.08]
    active:translate-y-[1px] active:scale-[0.98]
    focus:outline-none focus-visible:ring-2 focus-visible:ring-offset-2
    focus-visible:before:opacity-[0.1]
    disabled:opacity-[0.2] disabled:pointer-events-none
    before:content-['']
    before:block before:opacity-0
    before:absolute before:inset-0
    before:pointer-events-none;
  }
  .btn-xs {
    @apply h-btn-xs px-btn-x-xs text-btn-label-xs;
  }
  .btn-sm {
    @apply h-btn-sm px-btn-x-sm text-btn-label-sm;
  }
  .btn-md {
    @apply h-btn-md px-btn-x-md text-btn-label-md;
  }

  .btn-lg {
    @apply h-btn-lg px-btn-x-lg text-btn-label-lg;
  }
  .btn-xl {
    @apply h-btn-xl px-btn-x-xl text-btn-label-xl;
  }
}
