@layer components {
  .fab {
    @apply relative m-4 
  flex justify-center items-center 
  shadow-elevation3 cursor-pointer 
  hover:shadow-elevation4 
  hover:before:opacity-[0.08]
  active:shadow-elevation3 
  active:before:opacity-[0.1]
  focus-visible:ring-2 focus-visible:ring-offset-2
  focus-visible:before:opacity-[0.1]
  disabled:opacity-[0.2] disabled:pointer-events-none
  before:content-[''] before:absolute 
  before:inset-0 before:opacity-0 
  before:pointer-events-none;
  }
  .fab-sm {
    @apply h-fab-ex-sm w-fab-sm rounded-fab-sm;
  }
  .fab-md {
    @apply h-fab-ex-md w-fab-md rounded-fab-md;
  }
  .fab-lg {
    @apply h-fab-ex-lg w-fab-lg rounded-fab-lg;
  }

  .fab-ex-sm {
    @apply h-fab-ex-sm gap-fab-ex-sm-gap px-fab-ex-sm-x rounded-fab-ex-sm text-fab-ex-sm-label;
  }
  .fab-ex-md {
    @apply h-fab-ex-md gap-fab-ex-md-gap px-fab-ex-md-x rounded-fab-ex-md text-fab-ex-md-label;
  }
  .fab-ex-lg {
    @apply h-fab-ex-lg gap-fab-ex-lg-gap px-fab-ex-lg-x rounded-fab-ex-lg text-fab-ex-lg-label;
  }
}
